body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('https://source.unsplash.com/weekly') no-repeat center/cover;
}
body:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.9;
	z-index: 1;
}

#app {
	z-index: 2;
}

#calc-outer-wrap {
	max-width: 100%;
	padding: 30px;
	background: #242424;
	z-index: 2;
}

#result-wrap {
	position: relative;
}

.calc-hint {
	display: none;
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 12px;
	color: #242424;
}

#result {
	background: #ccc;
	max-width: 358px;
	min-height: 123px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	color: #242424;
	font-size: 42px;
	overflow: hidden;
	padding: 22px 13px 5px;
	word-break: break-word;
	text-align: right;
}

#keys-wrap {
	margin: 20px 0 0;
}

#keys-list {
	display: grid;
	grid-gap: 10px;
	grid-column: 4;
	grid-template: repeat(5, auto) / repeat(4, minmax(auto, 82px));
	grid-template-areas:
		'clear clearOne divide multiply'
		'seven eight nine subtract'
		'four five six add'
		'one two three equal'
		'zero zero decimal equal';
	height: 100%;
}

.calc-key {
	position: relative;
	background-color: #333;
	color: #d5d5d5;
	font-size: 32px;
	cursor: pointer;
	user-select: none;
	padding: 100% 0 0;
	transition: background-color 0.5s ease-in-out, transform 0.02s ease-in-out;
}
.calc-key span {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calc-key.zero-key {
	padding: calc(50% - 5px) 0 0;
}
.calc-key.equal-key {
	padding: 0;
	background: #0062af;
}
.calc-key#clear-key {
	background: #a5010e;
}
.calc-key#clear-one-key {
	background: #a51924;
}
.calc-key:active {
	transform: scale(0.97);
}

#clear-key {
	grid-area: clear;
}
#clear-one-key {
	grid-area: clearOne;
}
#divide-key {
	grid-area: divide;
}

#multiply-key {
	grid-area: multiply;
}

#subtraction-key {
	grid-area: subtract;
}

#addition-key {
	grid-area: add;
}

#equal-key {
	grid-area: equal;
}

#zero-key {
	grid-area: zero;
}

#one-key {
	grid-area: one;
}
#two-key {
	grid-area: two;
}
#three-key {
	grid-area: three;
}
#four-key {
	grid-area: four;
}
#five-key {
	grid-area: five;
}
#six-key {
	grid-area: six;
}
#seven-key {
	grid-area: seven;
}
#eight-key {
	grid-area: eight;
}
#nine-key {
	grid-area: nine;
}
